@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  --cells-accordion-step-opened-message:#{'{
    display:block;
  }'};
  --cells-accordion-step-message:#{'{
    font-size: 18px;
    font-weight: 450;
  }'};
  --cells-accordion-step-opened-title:#{'{
    font-weight: normal;
    font-size: 18px;
  }'};
  --cells-accordion-step-opened-icons:#{'{
    width: 1rem;

  }'};
  --cells-accordion-step-opened-icons-color: #1464A5;
  --cells-accordion-step-icons-color: #1464A5;
  --cells-accordion-step-opened-header-bg-color: #FFF;
  --cells-accordion-step-header:#{'{
    background-color: #FFF;
  }'};
  @apply --cells-bfm-expandable-table;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}

tbody{
  display: flex;
  width: 100%;
  flex-direction: column;
}


td{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
table{
  width: 100%;
}

.content{
  display: flex;
  flex-direction: column;
}

.icon{
  color: var(--icon-color, #1464A5);
  margin: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}
.flex{
  display: flex;
}
.center{
  align-items: center;
}
.button{
  font-weight: 450;
  display: block;
}
.right{
  float: right;
}

.header-icon{
  width: 16px;
  height: 16px;
  color: #1973b8;
  margin: 1.5rem 1rem;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 0;
  min-height: 4rem;
  align-items: center;
  @apply  --cells-bfm-expandable-inner-tables-header;
}
.sub-title{
  font-size: 12px;
  @apply  --cells-bfm-expandable-inner-tables-title;
}
.title{
  font-size: 15px;
  font-weight: 450;
  @apply  --cells-bfm-expandable-inner-tables-sub-title;
}
.head-content{
  display: flex;
  align-items: center;
  @apply  --cells-bfm-expandable-inner-tables-head-content;
}
.column{
  display: flex;
  flex-direction: column;
}
.info-content{
  @apply  --cells-bfm-expandable-inner-tables-info-content;
}
.amount{
  font-size: 15px;
  font-weight: 450;
}
.message-right{
  font-size: rem(12px);
  color: #121212;
  text-align: right;
  @apply  --cells-bfm-expandable-inner-tables-message;
}
.row-title{
  font-size: rem(15px);
  color: #1973b8;
  font-weight: 450;
}
.row-sub-title{
  font-size: rem(12px);
}