<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="../cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="../cells-atom-icon/cells-atom-icon.html">
<link rel="import" href="cells-bfm-expandable-table-styles.html">
<dom-module id="cells-bfm-expandable-table">
  <template>
    <style include="cells-bfm-expandable-table-styles"></style>
    <div class="header" on-click="_handleClickHeader">

      <div class="head-content">
        <cells-atom-icon class="header-icon" icon="[[_icon]]"> </cells-atom-icon>
        <div class="column">
          <label class="title">[[title]]</label>
          <template is='dom-if' if="[[subTitle]]">
            <label class="sub-title">[[subTitle]]</label>
          </template>
        </div>
      </div>
      <div class="info-content column">
        <template is='dom-if' if="[[message]]">
          <label class="message-right">[[message]]</label>
        </template>
        <template is='dom-if' if="[[amount.value]]">
          <cells-atom-amount class="amount" amount="[[amount.value]]" currency-code="[[amount.currency]]"
            language="en-us" local-currency="[[amount.localCurrency]]" align-right></cells-atom-amount>
        </template>
        <template is='dom-if' if="[[icon.value]]">
          <cells-atom-icon> </cells-atom-icon>
        </template>
      </div>
    </div>
    <iron-collapse id="collapse" opened$="[[opened]]">
      <div class="js-content content">
        <table>
          <tbody class="center">
            <template is="dom-repeat" items="[[items]]">
              <td>
                <div class="flex center">
                  <cells-atom-icon icon="[[item.icon]]" class="icon"></cells-atom-icon>
                  <div class="content">
                    <label class="row-title">[[item.title]]</label>
                    <label class="row-sub-title">[[item.text]]</label>
                  </div>
                </div>
                <div class="flex center">
                  <div class="column">
                    <cells-atom-amount class="amount" amount="[[item.amount.value]]"
                      currency-code="[[item.amount.currency]]" language="en-us"
                      local-currency="[[item.amount.localCurrency]]" align-right></cells-atom-amount>
                    <label class="row-sub-title">[[item.message]]</label>
                  </div>
                  <div class="action">
                    <cells-atom-icon icon="[[item.menu.icon]]" class="icon"></cells-atom-icon>
                  </div>
                </div>
              </td>
            </template>
          </tbody>
        </table>
        <template is='dom-if' if="[[button.text]]">
          <cells-st-button on-click="_handleBtn" class$="button [[button.class]]">
            <button class="right">[[button.text]]</button>
          </cells-st-button>
        </template>

      </div>
    </iron-collapse>

  </template>
  <script src="cells-bfm-expandable-table.js"></script>
</dom-module>